{% extends 'base.html' %}
{% block extensions %}
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            行政办公
            <!--<small>Control panel</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>行政办公</a></li>
            <li class="active">资产管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">


    </section><!-- /.content -->
{% endblock %}
{% block js %}
{% endblock %}