<div class="box">
    <form action="/hr/group/permission/ajax/save/" method="POST">
    {% csrf_token %}
        <div class="box-header">
            <h3 class="box-title">
                权限
            </h3>
        </div>
        <div class="box-body table-responsive no-padding">
            {% if success %}
                <div class="alert alert-success alert-dismissable">
                    <i class="fa fa-check"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>修改成功！</b>
                </div>
            {% endif %}
            <table class="table table-hover" style="text-align: center">
                <thead>
                <tr>
                    <td>
                        父
                    </td>
                    <td>
                        子
                    </td>
                </tr>
                </thead>
                <tbody>
                {% for permission in all_permissions %}
                    <tr>
                        <td>
                            {% if not permission.1 %}
                                {% if permission.0 in group_permissions %}
                                    <input type="checkbox" value="{{ permission.0.id }}" name="permissions[]"
                                           checked="checked">
                                {% else %}
                                    <input value="{{ permission.0.id }}" name="permissions[]" type="checkbox">
                                {% endif %}
                                {{ permission.0.name }}
                            {% else %}
                                {{ permission.0.name }}
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                    {% for subpermission in permission.1 %}
                        <tr>
                            <td></td>
                            <td>
                                {% if subpermission in group_permissions %}
                                    <input type="checkbox" value="{{ subpermission.id }}" name="permissions[]"
                                           checked="checked">
                                {% else %}
                                    <input value="{{ subpermission.id }}" name="permissions[]" type="checkbox">
                                {% endif %}
                                {{ subpermission.name }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <input type="hidden" name="group_id" value="{{ groupid }}">
            <button class="btn btn-primary" type="submit">保存</button>
        </div>
    </form>
</div>
<script>
    $('form').submit(function() {
        $(this).ajaxSubmit({
            success: function (response) {
                $(".result").html(response)
            }
        });
        return false;
    });
</script>
