<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <form id="group_form" action="/hr/group/ajax/save/" method="POST"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
              data-bv-submitbuttons='button[type="submit"]'
              data-bv-live="enabled">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">部门</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>名字：</label>
                    <input class="form-control" type="text" value="{{ spec_group.name }}" name="group_name"
                           data-bv-notempty="true"
                           data-bv-message="正确填写名字"/>
                </div>
                <div class="form-group">
                    <label>领导：</label>
                    <select class="form-control" name="group_leader" data-bv-message="正确填写名字">
                        {% for user in users %}
                            {% if user == spec_group.leader %}
                                <option value="{{ user.id }}" selected="selected">{{ user.realname }}</option>
                            {% else %}
                                <option value="{{ user.id }}">{{ user.realname }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>描述：</label>
                    <textarea class="form-control" name="group_description"
                              rows="3">{{ spec_group.description }}</textarea>

                </div>
                <div class="form-group">
                    <label>颜色：</label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    {% if spec_group.label == 'label-default' %}
                                        <input type="radio" name="group_label" value="label-default" checked>
                                    {% else %}
                                        <input type="radio" name="group_label" value="label-default">
                                    {% endif %}
                                    <span class="label label-default">Default</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if spec_group.label == 'label-primary' %}
                                        <input type="radio" name="group_label" value="label-primary" checked>
                                    {% else %}
                                        <input type="radio" name="group_label" value="label-primary">
                                    {% endif %}
                                    <span class="label label-primary">Primary</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if spec_group.label == 'label-success' %}
                                        <input type="radio" name="group_label" value="label-success" checked>
                                    {% else %}
                                        <input type="radio" name="group_label" value="label-success">
                                    {% endif %}
                                    <span class="label label-success">Success</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="radio">
                                <label>
                                    {% if spec_group.label == 'label-info' %}
                                        <input type="radio" name="group_label" value="label-info" checked>
                                    {% else %}
                                        <input type="radio" name="group_label" value="label-info">
                                    {% endif %}
                                    <span class="label label-info">Info</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if spec_group.label == 'label-warning' %}
                                        <input type="radio" name="group_label" value="label-warning" checked>
                                    {% else %}
                                        <input type="radio" name="group_label" value="label-warning">
                                    {% endif %}
                                    <span class="label label-warning">Warning</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if spec_group.label == 'label-danger' %}
                                        <input type="radio" name="group_label" value="label-danger" checked>
                                    {% else %}
                                        <input type="radio" name="group_label" value="label-danger">
                                    {% endif %}
                                    <span class="label label-danger">Danger</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if spec_group %}
                    <input type="hidden" name="group_id" value="{{ spec_group.id }}">
                    <button type="button" onclick="del({{ spec_group.id }})" class="pull-left btn btn-danger">删除
                    </button>
                {% endif %}
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>


    </div>
</div>

<script>
    $('select[name=group_leader]').select2();
    $(document).ready(function () {
        $('#group_form').bootstrapValidator({
            excluded: [':disabled'],
            submitHandler: function () {
                $('#group_form').ajaxSubmit({
                    success: function (response) {
                        $('#user_detail').modal('hide');
                        $('.box-body').html(response);
                    }
                });
            }
        });
    });
</script>