{% load bootstrap3 %}
<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <form id="group_form" action="{{ url }}" method="POST"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
              data-bv-submitbuttons='button[type="submit"]'
              data-bv-live="enabled">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">部门</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>名字：</label>
                    <input class="form-control" type="text" value="{{ spec_department.group.name }}" name="group_name"
                           data-bv-notempty="true"
                           data-bv-message="正确填写名字"/>
                </div>
                {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
                {% if spec_department %}
                    {% if perms.hr.delete_department %}
                    <button type="button" onclick="del({{ spec_department.id }})" class="pull-left btn btn-danger">删除
                    </button>
                    {% endif %}
                {% endif %}
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>


    </div>
</div>

<script>
    $('select[name=group_leader]').select2();
    $(document).ready(function () {
        $('#group_form').bootstrapValidator({
            excluded: [':disabled'],
            {% if 'add' in url %}
                fields: {
                    group_name: {
                        validators: {
                            remote: {
                                message: '帐号重复',
                                url: '/hr/department/ajax/check/'
                            },
                            notEmpty: {
                                message: '不能为空'
                            }
                        }
                    }
                },
            {% endif %}
            submitHandler: function () {
                $('#group_form').ajaxSubmit({
                    success: function (response) {
                        $('#user_detail').modal('hide');
                        $('.box-body').html(response);
                    }
                });
            }
        });
    });
</script>