{% load staticfiles %}
<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            隶属
        </h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th>
                        选择
                    </th>
                    <th>
                        部门
                    </th>
                    <th>
                        描述
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for group in all_groups %}
                <tr>
                    {% if group in user_groups %}
                    <td>
                         <input type="checkbox" value="{{ group.id }}" checked="checked">
                    </td>
                    {% else %}
                    <td>
                         <input type="checkbox" value="{{ group.id }}" >
                    </td>
                    {% endif %}
                    <td>
                        {{ group.name }}
                    </td>
                    <td>
                        {{ group.description }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <input type="hidden" name="userid" value="{{ userid }}">
        <button class="btn btn-primary" onclick="save();">保存</button>
    </div>
</div>
<script>

    function save(){
        var groups = []
        $(':checked').each(function(){
            groups.push($(this).val());
        })
        alert(groups);
        alert($('input[name=userid]').val());
        $.ajax({
           url: '/system/user/ajax/save/',
           type: 'POST',
           data: {groups: JSON.stringify(groups), userid: $('input[name=userid]').val()},
           success: function(response){
               if (response['status'] == 200)
                {
                    $(".result").html(response['content'])
                    alert("保存成功!")
                }
                else{
                    alert("保存失败，请联系管理员！")
                }
           }
        });
    }
</script>
