{% extends 'base.html' %}
{% load staticfiles %}
{% block extensions %}
    <!-- Bootstrap modal -->
    <link href="{% static 'css/bootstrap-modal/bootstrap-modal.css' %}" rel="stylesheet" type="text/css"/>

    <link href="{% static 'css/jquery-bonsai/jquery.bonsai.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'js/plugins/jquery-bonsai/jquery.bonsai.js' %}"></script>
    <script src="{% static 'js/plugins/jquery-bonsai/jquery.qubit.js' %}"></script>
    <!-- bootstrap modal -->
    <script src="{% static 'js/plugins/bootstrap-modal/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-modal/bootstrap-modalmanager.js' %}"></script>
    <!-- jquery form -->

    <script src="{% static 'js/plugins/jquery.form/jquery.form.js' %}"></script>
    <!-- select2 -->
    <link href="{% static 'css/bootstrap-select2/select2.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/bootstrap-select2/select2-bootstrap.css' %}" rel="stylesheet" type="text/css"/>
    <!-- select 2 -->
    <script src="{% static 'js/plugins/bootstrap-select2/bootstrap-select2.js' %}"></script>

    <!--tree-->

{% endblock %}
{% block content %}

    <section class="content-header">
        <h1>
            系统设置
            <!--<small>列表</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>系统</a></li>
            <li class="active">权限</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include 'system/permission/sidebar/body.html' %}
    </section><!-- /.content -->
    <!-- mod permission -->
    <!-- Modal -->
    <div class="modal fade" id="permission_detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
{% endblock %}
{% block js %}
    <script>
        function add() {
            $('body').modalmanager('loading');
            setTimeout(function () {
                $('#permission_detail').load('/system/permission/sidebar/ajax/add/', function () {
                    $('#permission_detail').modal();
                });
            }, 1000);
        }

        function mod(id) {
            $('body').modalmanager('loading');
            setTimeout(function () {
                $('#permission_detail').load('/system/permission/sidebar/ajax/mod/' + id, function () {
                    $('#permission_detail').modal();
                });
            }, 1000);
        }

        function del(permission_id) {
            $.ajax({
                url: '/system/permission/sidebar/ajax/delete/',
                type: "POST",
                data: {permission_id: permission_id},
                success: function (response) {
                    $('#permission_detail').modal('hide');
                    $('.content').html(response);
                }
            })
        }


    </script>
{% endblock %}