{% if success %}
    <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>修改成功！</b>
    </div>
{% endif %}
<table class="table table-hover">
    <thead>
    <tr>
        <td>ID</td>
        <td>状态名称</td>
        <td>状态介绍</td>
    </tr>
    </thead>
    <tbody>
    {% for userstatus in userstatuses %}
        <tr>
            <td>{{ userstatus.id }}</td>
            <td>
                <span class="label {{ userstatus.label.css }}">{{ userstatus.name }}</span>
            </td>
            <td>{{ userstatus.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $(function () {
        $(".table tbody").on("click", "tr", function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            var id = ($(this)).children('td:first').text();
            loadmodal(id);
        });
    });
</script>