{% extends 'base.html' %}
{% load staticfiles %}
{% block extensions %}
    <!-- validator -->
    <link href="{% static 'css/bootstrap-validator/bootstrapValidator.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- validator -->
    <script src="{% static 'js/plugins/bootstrap-validator/bootstrapValidator.min.js' %}"></script>
    <!-- Bootstrap modal -->
    <link href="{% static 'css/bootstrap-modal/bootstrap-modal.css' %}" rel="stylesheet" type="text/css"/>
    <!-- bootstrap modal -->
    <script src="{% static 'js/plugins/bootstrap-modal/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap-modal/bootstrap-modalmanager.js' %}"></script>
    <!-- Jquery form -->
    <script src="{% static 'js/plugins/jquery.form/jquery.form.js' %}"></script>
{% endblock %}
{% block content %}
    <section class="content-header">
        <h1>
            标签管理
            <!--<small>Control panel</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>权限管理</a></li>
            <li class="active">标签管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        {% include 'system/label/body.html' %}

    </section><!-- /.content -->
    <div class="modal fade" id="label_detail" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel"
         aria-hidden="true">
    </div>
{% endblock %}
{% block js %}
    <script>
        {% if perms.system.add_label %}
        function add(){
            $('body').modalmanager('loading');
            setTimeout(function () {
                $('#label_detail').load('/system/label/ajax/add/', function () {
                    $('#label_detail').modal();
                });
            }, 1000);
        }
        {% endif %}

        {% if perms.system.change_label %}
        function mod(id) {
            $('body').modalmanager('loading');
            setTimeout(function () {
                $('#label_detail').load('/system/label/ajax/mod/'+ id, function () {
                    $('#label_detail').modal();
                });
            }, 1000);
        }
        {% endif %}
    </script>
{% endblock %}