{% if success %}
    <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>修改成功！</b>
    </div>
{% endif %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>姓名</th>
        <th>手机号</th>
        <th>E-mail</th>
        <th>传真</th>
        <th>地址</th>
        <th>类型</th>
        <th>隶属于</th>
    </tr>
    </thead>
    <tbody>
    {% for customer in customers %}
        <tr>
            <input type="hidden" value="{{ customer.id }}"/>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.fax }}</td>
            <td>{{ customer.address }}</td>
            <td>
                <span class="label {{ customer.type.label.css }}">{{ customer.type.name }}</span>
            </td>
            <td>
                {% for group in customer.groups.all %}
                    <span class="label {{ group.label.css }}">{{ group.name }}</span>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $('.table').dataTable();
    $(function () {
        $(".table tbody").on("dblclick", "tr", function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            var id = ($(this)).children('input').val();
            loadmodal(id);
        });


    });
</script>