<ul class="sidebar-menu">
    {% for permission in permissions %}
        {% if not permission.1 %}
            <li>
                <a class="ajax-link" href="{{ permission.0.url }}">
                    <!--<i class="fa fa-dashboard"></i>--> <span>{{ permission.0.name }}</span>
                </a>
            </li>
        {% else %}
            <li class="treeview">
                <a href="#">
                    <!--<i class="fa fa-bar-chart-o"></i>-->
                    <span>{{ permission.0.name }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {% for subpermission in permission.1 %}
                        <li><a class="ajax-link" href="{{ permission.0.url | add:subpermission.url }}"><i class="fa fa-angle-double-right"></i>{{ subpermission.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>