{% load staticfiles %}
<link href="{% static 'css/bootstrap-multiselect/bootstrap-multiselect.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/plugins/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<section class="content-header">
    <h1>
        权限设置
        <!--<small>列表</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>系统</a></li>
        <li class="active">权限</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        人员管理
                        <small>
                            点击列表修改
                        </small>
                    </h3>
                </div>
                <div class="box-body table-responsive">
                    {% if success %}
                        <div class="alert alert-success alert-dismissable">
                            <i class="fa fa-check"></i>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <b>修改成功！</b>
                        </div>
                    {% endif %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>姓名</th>
                            <th>手机号</th>
                            <th>E-mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <td>{{ user.id }}</td>
                            <td>{{ user.realname }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.email }}</td>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <button class="btn btn-default" data-toggle="modal" data-target="#user_detail">新增</button>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->
<!-- mod permission -->

{% include 'hr/user/modal.html' %}

<script>
    $(function () {
        $(".table tbody").on("click", "tr", function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            console.log(($(this)).children('td:first').text());
            $.ajax({
                url: 'hr/user/ajax/detail/',
                type: 'GET',
                data: {user_id: ($(this)).children('td:first').text()},
                success: function (response) {
                    $('.right-side').html(response);
                    $('#user_detail').modal('show');
                }
            });
        });
        $('#user_detail').on('hidden.bs.modal', function () {
            $.ajax({
                url: 'hr/user/',
                type: 'GET',
                success: function (response) {
                    $('.right-side').html(response);
                }
            });
        });
        $('#user_form').validate({
            submitHandler: function(form){
                $.ajax({
                    url: 'hr/user/ajax/save/',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: function(response){
                        $('right-side').html(response);
                    }
                })
            }
        })
    });


</script>