<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    资料管理
                    <small>
                        点击列表修改
                    </small>
                </h3>
            </div>
            <div class="box-body table-responsive">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable">
                        <i class="fa fa-check"></i>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <b>{{ message }}</b>
                    </div>
                    {% endfor %}
                {% endif %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="display: none">ID</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>录入时间</th>
                        <th>类型</th>
                        <th>录入者</th>
                        <th>隶属于</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for material in materials %}
                        <tr>
                            <td style="display: none">{{ material.id }}</td>
                            <td>{{ material.name }}</td>
                            <td>{{ material.description }}</td>
                            <td>{{ material.regtime | date:"Y-m-d" }}</td>
                            <td>
                                {% for type in material.types.all %}
                                     <span class="label {{ type.label.css }}">{{ type.name }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ material.user }}</td>
                            <td>
                                <span class="label {{ material.group.label.css }}">{{ material.group.group.name }}</span>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <button class="btn btn-default show" onclick="add();">新增</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.table').dataTable();
        $(".table tbody").on("click", "tr", function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                $('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            var id = ($(this)).children('td:first').text();
            mod(id);
        });
    });
</script>