<!-- Modal -->
<div class="modal-dialog">
    <div class="modal-content">
        <form id="type_form" action="/masterdata/material/type/ajax/save/" method="POST"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
              data-bv-submitbuttons='button[type="submit"]'
              data-bv-live="enabled">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">资料类型管理</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>名字：</label>
                    <input class="form-control" type="text" value="{{ spec_type.name }}" name="type_name"
                           data-bv-notempty="true"
                           data-bv-message="正确填写名字"/>
                </div>
                <div class="form-group">
                    <label>描述：</label>
                    <textarea class="form-control" name="type_description"
                              rows="3">{{ spec_type.description }}</textarea>

                </div>
                <div class="form-group">
                    <label>标签：</label>
                    <br/>
                    <div class="row">
                        <div class="col-lg-11">
                            {% for label in labels %}
                                {% if spec_type.label == label %}
                                    <label>
                                        <input type="radio" name="type_label" value="{{ label.id }}">
                                        <span class="label {{ label.css }}">{{ label.name }}</span>
                                    </label>
                                {% else %}
                                    <label>
                                        <input type="radio" name="type_label" value="{{ label.id }}">
                                        <span class="label {{ label.css }}">{{ label.name }}</span>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if spec_type %}
                    <input type="hidden" name="type_id" value="{{ spec_type.id }}">
                    <button type="button" onclick="del({{ spec_type.id }})" class="pull-left btn btn-danger">删除
                    </button>
                {% endif %}
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('#type_form').bootstrapValidator({
            fields: {
                type_label:{
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        }
                    }
                }
            },
            submitHandler: function(){
                $('#type_form').ajaxSubmit({
                    success: function(response){
                        $('#type_detail').modal('hide');
                        $('.content').html(response);
                    }
                })
            }
        })
    });
</script>