{% if success %}
    <div class="alert alert-success alert-dismissable">
        <i class="fa fa-check"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <b>修改成功！</b>
    </div>
{% endif %}
<!--
<ol id='sidebar_tree' data-name='foo'>
    {% for sidebar in permissions %}
        <li class='expanded' data-value='{{ sidebar.0.id }}'>{{ sidebar.0.name }}{{ sidebar.0.url }}
            <ol>
                {% for subsidebar in sidebar.1 %}
                    <li data-value='{{ subsidebar }}'>{{ subsidebar.name }}{{ subsidebar.url }}</li>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ol>
<script>
    $('#sidebar_tree').bonsai({
        expandAll: true,
        createCheckboxes: true // takes values from data-name and data-value, and data-name is inherited
    });
</script>-->



<table class="table table-hover">
    <thead>
    <tr>
        <td>父</td>
        <td>URL</td>
        <td>子</td>
        <td>URL</td>
    </tr>
    </thead>
    <tbody>
    {% for permission in permissions %}
        <tr>
            <input type="hidden" value="{{ permission.0.id }}"/>
            <td>
                {{ permission.0.order }}. {{ permission.0.name }}
            </td>
            <td>
                {{ permission.0.url }}
            </td>
            <td></td>
            <td></td>
        </tr>
        {% if permission.1 %}
            {% for subpermission in permission.1 %}
                <tr>
                    <input type="hidden" value="{{ subpermission.id }}"/>
                    <td></td>
                    <td></td>
                    <td>
                        {{ subpermission.order }}. {{ subpermission.name }}
                    </td>
                    <td>
                        {{ subpermission.url }}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
<script>
    $(".table tbody").on("click", "tr", function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
        //console.log(($(this)).children('input').val());
        load_modal(($(this)).children('input').val());
    });
</script>