{% load  bootstrap3 %}
<div class="modal-dialog">
    <div class="modal-content">
        <form id="permission_form" action="{{ url }}" method="POST">
            {% csrf_token %}

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">权限</h4>
            </div>

            <div class="modal-body">
                {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
                {% if spec_sidebar %}
                    {% if perms.system.delete_sidebar %}
                        <button type="button" class="pull-left btn btn-danger"
                                onclick="del({{ spec_sidebar.id }});">
                            删除
                        </button>
                    {% endif %}
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>
<script>
    $('select').select2();
    $('#permission_form').submit(function () {
        $(this).ajaxSubmit({
            success: function (response) {
                $('#permission_detail').modal('hide');
                $('.content').html(response);
            }
        });
        return false;
    })
</script>