<!-- Modal -->
{% load bootstrap3 %}
<div class="modal-dialog">
    <div class="modal-content">
        <form id="category_form" action="{{ url }}" method="POST"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
              data-bv-submitbuttons='button[type="submit"]'
              data-bv-live="enabled">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">办公资产类型</h4>
            </div>
            <div class="modal-body">
                {% bootstrap_form form %}
            </div>
            <div class="modal-footer">
                {% if spec_category %}
                    {% if perms.administration.delete_assetcategory %}
                        <button type="button"
                                onclick="window.location.href='{% url 'delete_assetcategory' category=spec_category.id %}'"
                                class="pull-left btn btn-danger">删除
                        </button>
                    {% endif %}
                {% endif %}
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category_form').bootstrapValidator();
    });
</script>