<!-- Modal -->
{% load bootstrap3 %}
<div class="modal-dialog">
    <div class="modal-content">
        <form id="category_form" action="/administration/asset/category/ajax/save/" method="POST"
              data-bv-message="This value is not valid"
              data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
              data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
              data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
              data-bv-submitbuttons='button[type="submit"]'
              data-bv-live="enabled">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close cancel" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">办公资产类型</h4>
            </div>
            <div class="modal-body">
                {% for field in form %}
                    {% if field.name != 'label' %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <label>标签：</label>
                    <br/>
                    <div class="row">
                        <div class="col-lg-11">
                            {% for label in labels %}
                                {% if form.label.value == label.id %}
                                    <label>
                                        <input type="radio" name="label" value="{{ label.id }}" checked>
                                        <span class="label {{ label.css }}">{{ label.name }}</span>
                                    </label>
                                {% else %}
                                    <label>
                                        <input type="radio" name="label" value="{{ label.id }}">
                                        <span class="label {{ label.css }}">{{ label.name }}</span>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if spec_category %}
                    <input type="hidden" name="id" value="{{ spec_category.id }}">
                    <button type="button" onclick="del({{ spec_category.id }})" class="pull-left btn btn-danger">删除
                    </button>
                {% endif %}
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </form>


    </div>
</div>

<script>
    $(document).ready(function () {
        $('#category_form').bootstrapValidator({
            submitHandler: function () {
                $('#category_form').ajaxSubmit({
                    success: function (response) {
                        $('#category_detail').modal('hide');
                        $('.content').html(response);
                    }
                })
            }
        })
    });
</script>